@use "sass:math";

@mixin grid-editor($width, $gutter-fraction, $cell-width-to-height-ratio) {
  $gutterSize: $gutter-fraction * $width;
  $singleCellHeight: math.div($width, $cell-width-to-height-ratio);
  $doubleCellWidth: math.div($width - $gutterSize, 2);
  $doubleCellHeight: math.div($doubleCellWidth, $cell-width-to-height-ratio);
  $doubleContainerHeight: 2 * $doubleCellHeight + $gutterSize;

  .tgrow_prnt {
    width: $width;
    margin: 0 auto;
    margin-bottom: $gutterSize;

    .tgrow {
      width: $width;

      &>.block-editor-inner-blocks {
        margin: 0;
        padding: 0;
        width: $width;
        height: inherit;

        &>.block-editor-block-list__layout {
          margin: 0;
          padding: 0;
          width: $width;
          height: inherit;

          display: grid;
          row-gap: $gutterSize;
          column-gap: $gutterSize;

          &>.wp-block {
            margin: 0;
            padding: 0;

            &>.tgcol {
              height: inherit;
              width: 100%;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .tgrow.uno {
      height: $singleCellHeight;

      &>.block-editor-inner-blocks>.block-editor-block-list__layout {
        grid-template-rows: $singleCellHeight;
        grid-template-columns: 100%;

        &>.wp-block {
          height: $singleCellHeight;
        }
      }
    }

    .tgrow.duo {
      height: $doubleCellHeight;

      &>.block-editor-inner-blocks>.block-editor-block-list__layout {
        grid-template-columns: $doubleCellWidth $doubleCellWidth;
        grid-template-rows: $doubleCellHeight;

        &>.wp-block {
          height: $singleCellHeight;
        }
      }
    }

    .tgrow.tbr {
      height: $doubleContainerHeight;

      &>.block-editor-inner-blocks>.block-editor-block-list__layout {
        grid-template-columns: $doubleCellWidth $doubleCellWidth;
        grid-template-rows: $doubleCellHeight $doubleCellHeight;

        &>.wp-block:nth-child(1) {
          height: $doubleCellHeight;
          grid-row: 1 / 1;
          grid-column: 1 / 1;
        }

        &>.wp-block:nth-child(2) {
          height: $doubleCellHeight;
          grid-row: 2 / 2;
          grid-column: 1 / 1;
        }

        &>.wp-block:nth-child(3) {
          height: $doubleContainerHeight;
          grid-row-start: 1;
          grid-row-end: span 2;
          grid-column: 2 / 2;
        }
      }
    }


    .tgrow.ltb {
      height: $doubleContainerHeight;

      &>.block-editor-inner-blocks>.block-editor-block-list__layout {
        grid-template-columns: $doubleCellWidth $doubleCellWidth;
        grid-template-rows: $doubleCellHeight $doubleCellHeight;

        &>.wp-block:nth-child(1) {
          height: $doubleContainerHeight;
          grid-row-start: 1;
          grid-row-end: span 2;
          grid-column: 1 / 1;
        }

        &>.wp-block:nth-child(2) {
          height: $doubleCellHeight;
          grid-row: 1 / 1;
          grid-column: 2 / 2;
        }

        &>.wp-block:nth-child(3) {
          height: $doubleCellHeight;
          grid-row: 2 / 2;
          grid-column: 2 / 2;
        }
      }
    }

    $innerBlocks: ".block-editor-inner-blocks";
    $listLayout: ".block-editor-block-list__layout";

    .tgrow>#{$innerBlocks},
    .tgrow>#{$innerBlocks}>#{$listLayout},
    .tgrow>#{$innerBlocks}>#{$listLayout}>.wp-block,
    .tgrow>#{$innerBlocks}>#{$listLayout}>.wp-block>.tgcol,
    .tgrow>#{$innerBlocks}>#{$listLayout}>.wp-block>.tgcol>#{$innerBlocks},
    .tgrow>#{$innerBlocks}>#{$listLayout}>.wp-block>.tgcol>#{$innerBlocks}>#{$listLayout},
    .tgrow>#{$innerBlocks}>#{$listLayout}>.wp-block>.tgcol>#{$innerBlocks}>#{$listLayout}>.wp-block {
      margin: 0;
      padding: 0;
      height: inherit;
      // Below code prevents margin collapse: https://stackoverflow.com/a/1939980 and https://www.w3.org/TR/CSS2/box.html#collapsing-margins
      padding-top: 1px;
      margin-top: -1px;
    }

    .tgrow .tgcol>#{$innerBlocks}>#{$listLayout} {
      .wp-block {
        display: none;
      }

      .wp-block:first-of-type {
        display: block;
      }
    }
  }
}
