.tablopost .caption {
  opacity: 1;
  position: relative;
}

.tablopost .herocaption {
  left: 0.5rem !important;
  bottom: 0.5rem !important;
  right: 0.5rem !important;
}

.tablopost h3 {
  margin: 0 !important;
}

.tablopost img {
  height: 100% !important;
}

.tablopost .subline input {
  font-size: 10px;
  height: 20px;
  min-height: 20px;
  width: 50px;
  min-width: 50px;
}

.tablopost img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.tablopost:hover img {
  transform: scaleZ(1) scale(1.05);
}
