/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "styles/index";

.tgrow_prnt {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-siejmy-tablogrid {
	border: 1px dotted #f00;
}

.tgrow > .block-editor-inner-blocks {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.tgrow > .block-editor-inner-blocks > .block-editor-block-list__layout {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.tgrow
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-editor-block-list__block {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.tgrow
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-editor-block-list__block
	> .tgcol {
	border: 1px dotted blue;
	z-index: 2;
}

.tgcol > .block-editor-inner-blocks,
.tgcol > .block-editor-inner-blocks > .block-editor-block-list__layout,
.tgcol
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-editor-block-list__block {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.tgrow.midline {
	padding-top: 20%;
}

/*







TABLOPOST
*/
.tablopost:hover .caption {
	opacity: 1;
}

.tablopost img {
	height: 100% !important;
}

.tablopost .subline input {
	font-size: 10px;
	height: 20px;
	min-height: 20px;
	width: 50px;
	min-width: 50px;
}

.tablopost img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s ease;
}

.tablopost:hover img {
	transform: scaleZ(1) scale(1.05);
}
